.search-filters {
  display: flex;
  flex-direction: column;
  

  &__category {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    
  }

  &__price {
    margin-bottom: 3rem;
  }

  &__brands {

  }
}
