/* базовые цвета текста */
$text-color-base: #000000;
$text-color-light: #8b8b8b;
$text-color-ultraLight: #A9A9A9;


/* базовые цвета макета */
$color-base: #C4C4C4;
$color-accent: #F1BD45;


/* для всех ссылок */
$icon-fill-animation: 0.2s fill ease-in;/* анимация перекрашивания иконок */
$text-color-animation: 0.2s color ease-in;/* анимация перекрашивания текста */

/* для sidebar menu */
$text-animation: 0.2s ease-in; /* анимация для пунктов side-bar menu. Реализовано отдельно, поскольку не является ссылками */
$fill-animation: 0.2s fill ease-in; /* тоже анимация, для svg иконок пунктов sidebar menu */
$border-animation: 0.2s border ease-in; /* рамки у элементов sidebar menu */

/* для внутренних элементво сайта (кнопок) */
$icon-animation: 0.2s all ease-in; /* анимация для svg элементов, являющихся кнопками или другими эл. управления */

/* общий стиль теней для всех объектов на сайте */
$shadow-animation: 0.2s box-shadow ease-in; 

/* общий стиль теней для всех объектов на сайте */
$bc-animation: 0.2s background-color ease-in; 
 