/* базовые цвета текста */
$text-color-base: #000000;
$text-color-light: #8b8b8b;
$text-color-ultraLight: #A9A9A9;


/* базовые цвета макета */
$color-base: #C4C4C4;
$color-accent: #F1BD45;

/* общий стиль теней для всех объектов на сайте */
$shadow-animation: 0.2s box-shadow ease-in; 

/* общий стиль теней для всех объектов на сайте */
$bc-animation: 0.2s background-color ease-in; 
 