.search-results {
  &__top {
    display: flex;
    flex-direction: column;
  }

  &__query {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }

    .title {
      font-family: Arial;
      font-size: 2.8rem;
      line-height: 3.2rem;
      color: $text-color-base;
      margin-right: 2rem;

      @media (max-width: 1000px) {
        margin-bottom: 1rem;
      }
    }
    .query {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #8b8b8b;

      .incorrect-query {
        &__error {
          font-style: italic;
        }
      }
    }
  }

  &__categories {
    margin-bottom: 4rem;
  }

  &__body {
    display: flex;
  }

  &__aside {
    min-width: 29rem;
    margin-right: 3rem;
  }

  &__list {
    width: 100%;
  }
}
